<div class="ui stackable two column grid" *ngFor="let elem1st of list1st; let idx = index">
    <div class="column">
        <div class="ui middle aligned animated list">
            <div class="item">
                <i class="university icon fz2em"></i>
                <div class="content">
                    <div class="header">{{idx+1}} -- {{elem1st.title}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui middle aligned animated list">
            <div class="item">
                <i class="thermometer three quarters icon fz2em"></i>
                <div class="content">
                    <div class="header">{{elem1st.type}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
