<div class="ui three column grid stackable">
    <div class="column">
        <div class="ui warning message">
            <i class="icon name icon"></i> This is warning message.
        </div>
    </div>
    <div class="column">
        <div class="ui success message">
            <i class="icon name icon"></i> This is success message.
        </div>
    </div>
    <div class="column">
        <div class="ui brown message">
            <i class="icon name icon"></i> This is brown message.
        </div>
    </div>
</div>
